<a href="https://colab.research.google.com/github/beingshivam/Python-projects/blob/master/DS1_casestudy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
data = pd.read_csv('/admissions_data.csv')

In [6]:
data.head()

   student_id  gender      major  admitted
0       35377  female  Chemistry     False
1       56105    male    Physics      True
2       31441  female  Chemistry     False
3       51765    male    Physics      True
4       53714  female    Physics      True

In [8]:
data.shape

(500, 4)

In [9]:
data.size

2000

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
student_id    500 non-null int64
gender        500 non-null object
major         500 non-null object
admitted      500 non-null bool
dtypes: bool(1), int64(1), object(2)
memory usage: 12.3+ KB

In [16]:
data.describe(include = 'all')

          student_id  gender    major admitted
count     500.000000     500      500      500
unique           NaN       2        2        2
top              NaN  female  Physics    False
freq             NaN     257      256      308
mean    41495.084000     NaN      NaN      NaN
std     10065.292424     NaN      NaN      NaN
min     24348.000000     NaN      NaN      NaN
25%     32429.750000     NaN      NaN      NaN
50%     41460.500000     NaN      NaN      NaN
75%     50687.750000     NaN      NaN      NaN
max     58298.000000     NaN      NaN      NaN

In [17]:
data.gender.unique()

array(['female', 'male'], dtype=object)

In [18]:
data.major.unique()

array(['Chemistry', 'Physics'], dtype=object)

In [19]:
data.admitted.unique()

array([False,  True])

In [20]:
data.head()

   student_id  gender      major  admitted
0       35377  female  Chemistry     False
1       56105    male    Physics      True
2       31441  female  Chemistry     False
3       51765    male    Physics      True
4       53714  female    Physics      True

In [0]:
female_count = data[data['gender']=='female'].admitted.count()

In [0]:
male_count = data[data['gender']=='male'].admitted.count()

In [0]:
female_data = data[(data['gender']=='female')]

(data['admitted']=='True')

In [51]:
female_data.head()

   student_id  gender      major  admitted
0       35377  female  Chemistry     False
2       31441  female  Chemistry     False
4       53714  female    Physics      True
5       50693  female  Chemistry     False
7       27648  female  Chemistry      True

In [0]:
female_admits = data[(data['gender']=='female')]['admitted']

In [95]:
female_admits.value_counts()

False    183
True      74
Name: admitted, dtype: int64

In [0]:
male_admits = data[(data['gender']=='male')]['admitted']

In [0]:
male_Not_admitted = male_admits.value_counts()[0]

In [0]:
male_admitted = male_admits.value_counts()[1]

In [0]:
female_Not_admitted = female_admits.value_counts()[0]

In [0]:
female_admitted = female_admits.value_counts()[1]

# **Total Female admit: 28.79%**

In [111]:
#total female admit %

female_admitted/female_count*100

28.793774319066145

# **Total Male admit: 48.55%**

In [112]:
#total male admit %

male_admitted/male_count*100

48.559670781893004

In [0]:
Chemistry_admit_count = data[data['major']=='Chemistry'].admitted.value_counts()[1]

In [0]:
Chemistry_Total_count = data[data['major']=='Chemistry'].admitted.count()

# Total Chemistry admit: **21.72%**

In [136]:
Chemistry_admit_count/Chemistry_Total_count*100

21.721311475409834

In [0]:
physics_admit_count = data[data['major']=='Physics'].admitted.value_counts()[1]

In [0]:
physics_Total_count = data[data['major']=='Physics'].admitted.count()

# Total Physics admit: **54.29%**

In [139]:
physics_admit_count/physics_Total_count*100

54.296875

In [0]:
#Total Students

Total Students-> 500

In [144]:
data[data['gender']=='male'].gender.count()

243

In [145]:
data.gender.count()

500

# Male Students: **48.6%**

In [146]:
(data[data['gender']=='male'].gender.count())/(data.gender.count())*100

48.6

# Female Students: **51.4%**

In [147]:
(data[data['gender']=='female'].gender.count())/(data.gender.count())*100

51.4

In [150]:
data[data['gender']=='female'].major.value_counts()

Chemistry    226
Physics       31
Name: major, dtype: int64

# Total females with Physics major: **12.06%**

In [151]:
(data[data['gender']=='female'].major.value_counts()[1])/(female_count)*100

12.062256809338521

# Total females with Chemistry major: **87.9%**

In [152]:
(data[data['gender']=='female'].major.value_counts()[0])/(female_count)*100

87.93774319066148

# Total males with Chemistry major: **92.59%**

In [153]:
(data[data['gender']=='male'].major.value_counts()[0])/(male_count)*100

92.5925925925926

# Total males with Physics major: **7.4%**

In [154]:
(data[data['gender']=='male'].major.value_counts()[1])/(male_count)*100

7.4074074074074066

In [163]:
data[(data['gender']=='male') & (data['major'] == 'Physics')].admitted.value_counts()

True     116
False    109
Name: admitted, dtype: int64

# Total admit males with Physics major: 51.5%

In [186]:
(data[(data['gender']=='male') & (data['major'] == 'Physics') & (data['admitted']== True)].shape[0])/(data[(data['gender']=='male') & (data['major']=='Physics')].shape[0])*100

51.55555555555556

In [184]:
# total Male Physics major
data[(data['gender']=='male') & (data['major']=='Physics')].shape

(225, 4)

In [187]:
# total female Physics major
data[(data['gender']=='female') & (data['major']=='Physics')].shape

(31, 4)

In [188]:
# total Male Chemistry major
data[(data['gender']=='male') & (data['major']=='Chemistry')].shape

(18, 4)

In [189]:
# total Female Chemistry major
data[(data['gender']=='female') & (data['major']=='Chemistry')].shape

(226, 4)

# Total admit females with Physics major: 74.1%

In [190]:
(data[(data['gender']=='female') & (data['major'] == 'Physics') & (data['admitted']== True)].shape[0])/(data[(data['gender']=='female') & (data['major']=='Physics')].shape[0])*100

74.19354838709677

# Total admit males with Chemistry major: 74.1%

In [191]:
(data[(data['gender']=='male') & (data['major'] == 'Chemistry') & (data['admitted']== True)].shape[0])/(data[(data['gender']=='male') & (data['major']=='Chemistry')].shape[0])*100

11.11111111111111

# Total admit females with Chemistry major: 74.1%

In [192]:
(data[(data['gender']=='female') & (data['major'] == 'Chemistry') & (data['admitted']== True)].shape[0])/(data[(data['gender']=='female') & (data['major']=='Chemistry')].shape[0])*100

22.566371681415927